<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">		
		<title>Autism Spectrum Disorder Early Detector</title>
		<!-- Custom styles for this template -->
		<link href="../static/css/product.css" rel="stylesheet">
		<link href="../static/css/pricing.css" rel="stylesheet">
	</head>
	<body class="bg-light">
		<!-- Header -->
		<nav class="site-header sticky-top py-1">
		  <div class="container d-flex flex-column flex-md-row justify-content-between">
			<a class="py-2 d-none d-md-inline-block" href="#">Tutorials</a>
			<a class="py-2 d-none d-md-inline-block" href="#">Guide</a>
			<a class="py-2 d-none d-md-inline-block" href="#">Contact</a>
		  </div>
		</nav>
		
		<div>
			<h1 class="card text-center">Autism Spectrum Disorder Early Detector</h1>
		</div>
		<div class="container">
		  <div class="card-deck mb-3 text-center">
				<div class="card mb-4 box-shadow">
				  <div class="card-header">
					 <h4 class="my-0 font-weight-normal">ASD Detector</h4>
				  </div>
					  <div class="card-body">
						 <p>
							This tool evaluates the RISK for your child of having Autistic Spectrum Disorder (ASD)
						 </p>
						 <a href="{{url_for('main')}}" class="btn btn-primary">Ready to Check</a>
				  </form>
				</div>
			</div>
		</div>
		
		<div class="container">	
		  <div class="card-deck mb-3 text-center">
				<div class="card mb-4 box-shadow">
				  <div class="card-header">
					 <h4 class="my-0 font-weight-normal">ASD Symptoms</h4>
				  </div>
				  <form action="#" method="post">
					  <div class="card-body">
						 <p>
							The core symptoms of autism are:<br>
							  social communication challenges and<br>
							  restricted, repetitive behaviors.						 
						</p>
						 <button type="button" class="btn btn-lg btn-block btn-outline-primary">More information</button>
					  </div>
				  </form>
				</div>
			</div>
		  <div class="card-deck mb-3 text-center">
				<div class="card mb-4 box-shadow">
				  <div class="card-header">
					 <h4 class="my-0 font-weight-normal">ASD Types</h4>
				  </div>
				  <form action="#" method="post">
					  <div class="card-body">
						 <p>
							There are five major types of autism which include Asperger's syndrome, Rett syndrome, childhood disintegrative disorder, Kanner's syndrome, and pervasive developmental disorder.
						 </p>
						 <button type="button" class="btn btn-lg btn-block btn-outline-primary">More information</button>
					  </div>
				  </form>
				</div>
			</div>
			
		  <div class="card-deck mb-3 text-center">
				<div class="card mb-4 box-shadow">
				  <div class="card-header">
					 <h4 class="my-0 font-weight-normal">Prevention</h4>
				  </div>
				  <form action="#" method="post">
					  <div class="card-body">
						 <p>
							There's no way to prevent autism spectrum disorder, but there are treatment options. Early diagnosis and intervention is most helpful and can improve behavior, skills and language development. However, intervention is helpful at any age.
						</p>
						 <button type="button" class="btn btn-lg btn-block btn-outline-primary">More information</button>
					  </div>
				  </form>
				</div>
			</div>
		</div>
  </body>